<a href="https://colab.research.google.com/github/tkoide01/BikeSharePredictor_UChicago/blob/main/CapitalBikeShareService_EDA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
from matplotlib.ticker import FuncFormatter

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Mount Google Drive: 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive



### 1. Load Bike Sharing Service CSV data into dataframe

In [2]:
# Specify the directory path: 
path = "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data/pre-pandemic"
!ls "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data/pre-pandemic"

EDA2018.csv  EDA2019.csv

In [3]:
# Loop through the files:

pre_pandemic_data = pd.DataFrame()  # Create an empty DataFrame to store the concatenated data

for file_name in os.listdir(path):
    if file_name.endswith(".csv"):
        file_path = os.path.join(path, file_name)
        data = pd.read_csv(file_path)
        pre_pandemic_data = pd.concat([pre_pandemic_data, data], ignore_index=True)

In [4]:
pre_pandemic_data.head()

,Unnamed: 0,Duration,Start date,Start station number,Start station,End station number,End station,Member type,time_of_day,day_of_week,month
0,0,221,2017-01-01 00:00:41,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,Member,00:00,Sunday,January
1,1,1676,2017-01-01 00:06:53,31258,Lincoln Memorial,31270,8th & D St NW,Casual,00:06,Sunday,January
2,2,1356,2017-01-01 00:07:10,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,Casual,00:07,Sunday,January
3,3,1327,2017-01-01 00:07:22,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,Casual,00:07,Sunday,January
4,4,1636,2017-01-01 00:07:36,31258,Lincoln Memorial,31270,8th & D St NW,Casual,00:07,Sunday,January

In [4]:
# pre_pandemic_data.drop(['Unnamed: 0'], axis=1, inplace=True)  # Remove specific columns from the DataFrame
# pre_pandemic_data.drop(['Start station number'], axis=1, inplace=True)  # Remove specific columns from the DataFrame
# pre_pandemic_data.drop(['End station number'], axis=1, inplace=True)  # Remove specific columns from the DataFrame

In [5]:
pre_pandemic_data = pre_pandemic_data[['Start date','Start station number','End station number', 'Member type', 'day_of_week', 'month']]

In [6]:
print(pre_pandemic_data.info())      # Get information about the DataFrame, including column data types and missing values
print(pre_pandemic_data.describe())  # Generate summary statistics of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6890045 entries, 0 to 6890044
Data columns (total 6 columns):
 #   Column                Dtype
---  ------                -----
 0   Start date            object
 1   Start station number  int64
 2   End station number    int64
 3   Member type           object
 4   day_of_week           object
 5   month                 object
dtypes: int64(2), object(4)
memory usage: 315.4+ MB
None
       Start station number  End station number
count            6890045.00          6890045.00
mean               31331.04            31331.77
std                  353.14              348.85
min                    0.00                0.00
25%                31204.00            31212.00
50%                31262.00            31259.00
75%                31515.00            31515.00
max                32609.00            32609.00

In [7]:
# Inspect the DataFrame:
# Generate 'year' column from 'Timestamp' column
pre_pandemic_data['Start date'] = pd.to_datetime(pre_pandemic_data['Start date'])  # Convert Start date into timestampe
pre_pandemic_data['year'] =pre_pandemic_data['Start date'].dt.year                 # Generate year column
pre_pandemic_data = pre_pandemic_data[['Start date','Start station number','End station number', 'Member type', 'day_of_week', 'month','year']]
print(pre_pandemic_data.info())      # Get information about the DataFrame, including column data types and missing values
print(pre_pandemic_data.describe())  # Generate summary statistics of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6890045 entries, 0 to 6890044
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   Start date            datetime64[ns]
 1   Start station number  int64
 2   End station number    int64
 3   Member type           object
 4   day_of_week           object
 5   month                 object
 6   year                  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 368.0+ MB
None
       Start station number  End station number       year
count            6890045.00          6890045.00 6890045.00
mean               31331.04            31331.77    2018.49
std                  353.14              348.85       0.50
min                    0.00                0.00    2018.00
25%                31204.00            31212.00    2018.00
50%                31262.00            31259.00    2018.00
75%                31515.00            31515.00    2019.00
max                32609.00            32609.00    2019.00

In [8]:
# Save As a CSV file To Google Drive
data_folder_path = "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data/"

file_name = '/pre_pandemic_data.csv'
with open(data_folder_path+file_name, 'w', encoding = 'utf-8-sig') as f:
  pre_pandemic_data.to_csv(f)

In [11]:
# Specify the directory path: 
path = "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data/post-pandemic"
!ls "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data/post-pandemic"

EDA2021.csv  EDA2022.csv

In [13]:
# Loop through the files:

post_pandemic_data = pd.DataFrame()  # Create an empty DataFrame to store the concatenated data

for file_name in os.listdir(path):
    if file_name.endswith(".csv"):
        file_path = os.path.join(path, file_name)
        data = pd.read_csv(file_path)
        post_pandemic_data = pd.concat([post_pandemic_data, data], ignore_index=True)

<ipython-input-13-ffa81c9de198>:8: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

In [14]:
post_pandemic_data = post_pandemic_data[['Start date','Start station number','End station number', 'Member type', 'day_of_week', 'month']]

In [15]:
# Inspect the DataFrame:
# Generate 'year' column from 'Timestamp' column
post_pandemic_data['Start date'] = pd.to_datetime(post_pandemic_data['Start date'])  # Convert Start date into timestampe
post_pandemic_data['year'] =post_pandemic_data['Start date'].dt.year                 # Generate year column
post_pandemic_data = post_pandemic_data[['Start date','Start station number','End station number', 
                                         'Member type', 'day_of_week', 'month', 'year']]

print(post_pandemic_data.info())      # Get information about the DataFrame, including column data types and missing values
print(post_pandemic_data.describe())  # Generate summary statistics of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6045461 entries, 0 to 6045460
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   Start date            datetime64[ns]
 1   Start station number  object
 2   End station number    object
 3   Member type           object
 4   day_of_week           object
 5   month                 object
 6   year                  int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 322.9+ MB
None
            year
count 6045461.00
mean     2021.56
std         0.50
min      2021.00
25%      2021.00
50%      2022.00
75%      2022.00
max      2022.00

In [16]:
# Save As a CSV file To Google Drive
data_folder_path = "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data/"

file_name = '/post_pandemic_data.csv'
with open(data_folder_path+file_name, 'w', encoding = 'utf-8-sig') as f:
  post_pandemic_data.to_csv(f)

### 2. Adding "Total trip count" column:
For the prediction of the total trip count in the Capital Bike Share bike sharing service dataset, I considered using followings deep learning models with LSTM:

-
-
-
-

In [9]:
# Specify the directory path: 
path = "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data"
!ls "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data"

2010-2017  2021		     post-pandemic	      pre_pandemic_data2.csv
2018	   2022		     post_pandemic_data2.csv  pre_pandemic_data.csv
2019	   DF_2010-2022.csv  post_pandemic_data.csv
2020	   Merged_data	     pre-pandemic

In [10]:
# Load the two pre and post pandemic data
file_name1 = '/pre_pandemic_data.csv'
file_name2 = '/post_pandemic_data.csv'


pre_pandemic_data = pd.read_csv(path+file_name1)
print(pre_pandemic_data.head())
print(pre_pandemic_data.shape)
post_pandemic_data = pd.read_csv(path+file_name2)
print(post_pandemic_data.head())
print(post_pandemic_data.shape)

   Unnamed: 0           Start date  Start station number  End station number  \
0           0  2018-01-01 00:05:06                 31104               31400
1           1  2018-01-01 00:14:30                 31321               31321
2           2  2018-01-01 00:14:53                 31321               31321
3           3  2018-01-01 00:15:31                 31406               31103
4           4  2018-01-01 00:18:02                 31618               31619

  Member type day_of_week    month  year
0      Member      Monday  January  2018
1      Casual      Monday  January  2018
2      Casual      Monday  January  2018
3      Casual      Monday  January  2018
4      Member      Monday  January  2018
(6890045, 8)

<ipython-input-10-f7c466d10c68>:9: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  post_pandemic_data = pd.read_csv(path+file_name2)

   Unnamed: 0           Start date Start station number End station number  \
0           0  2021-01-08 17:58:48             31318.00           31405.00
1           1  2021-01-08 22:05:51             31270.00           31663.00
2           2  2021-01-21 17:20:31             31926.00           31036.00
3           3  2021-01-28 10:06:30             31907.00           31047.00
4           4  2021-01-11 12:09:45             31931.00           31047.00

  Member type day_of_week    month  year
0      Casual      Friday  January  2021
1      Member      Friday  January  2021
2      Member    Thursday  January  2021
3      Member    Thursday  January  2021
4      Casual      Monday  January  2021
(6045461, 8)

In [4]:
post_pandemic_data = post_pandemic_data[['Start station number','End station number', 
                                         'Member type', 'day_of_week', 'month', 'year']]

In [11]:
pre_pandemic_data = pre_pandemic_data[['Start station number','End station number', 
                                        'Member type', 'day_of_week', 'month', 'year']]

In [6]:
# Group the data by the relevant features and count the number of rows in each group
trip_counts =  post_pandemic_data.groupby(['Start station number','End station number',
                                           'Member type', 'day_of_week', 'month', 'year']).size().reset_index(name='Total trip count')

# Merge the trip_counts back into the original DataFrame
post_pandemic_data = post_pandemic_data.merge(trip_counts, on=['Start station number','End station number',
                                                               'Member type', 'day_of_week', 'month', 'year'], how='left')

# Fill any missing 'Total trip count' values with 0
post_pandemic_data['Total trip count'] = post_pandemic_data['Total trip count'].fillna(0).astype(int)

In [12]:
# Group the data by the relevant features and count the number of rows in each group
trip_counts =  pre_pandemic_data.groupby(['Start station number','End station number',
                                           'Member type', 'day_of_week', 'month', 'year']).size().reset_index(name='Total trip count')

# Merge the trip_counts back into the original DataFrame
pre_pandemic_data = pre_pandemic_data.merge(trip_counts, on=['Start station number','End station number',
                                                               'Member type', 'day_of_week', 'month', 'year'], how='left')

# Fill any missing 'Total trip count' values with 0
pre_pandemic_data['Total trip count'] = pre_pandemic_data['Total trip count'].fillna(0).astype(int)

In [8]:
print(post_pandemic_data.describe())
post_pandemic_data.head()

            year  Total trip count
count 6045461.00        6045461.00
mean     2021.56              3.32
std         0.50              6.55
min      2021.00              0.00
25%      2021.00              1.00
50%      2022.00              2.00
75%      2022.00              3.00
max      2022.00            169.00

,Start station number,End station number,Member type,day_of_week,month,year,Total trip count
0,31318.00,31405.00,Casual,Friday,January,2021,1
1,31270.00,31663.00,Member,Friday,January,2021,1
2,31926.00,31036.00,Member,Thursday,January,2021,1
3,31907.00,31047.00,Member,Thursday,January,2021,1
4,31931.00,31047.00,Casual,Monday,January,2021,1

In [13]:
print(pre_pandemic_data.describe())
pre_pandemic_data.head()

       Start station number  End station number       year  Total trip count
count            6890045.00          6890045.00 6890045.00        6890045.00
mean               31331.04            31331.77    2018.49              5.73
std                  353.14              348.85       0.50              9.36
min                    0.00                0.00    2018.00              1.00
25%                31204.00            31212.00    2018.00              2.00
50%                31262.00            31259.00    2018.00              3.00
75%                31515.00            31515.00    2019.00              6.00
max                32609.00            32609.00    2019.00            218.00

,Start station number,End station number,Member type,day_of_week,month,year,Total trip count
0,31104,31400,Member,Monday,January,2018,2
1,31321,31321,Casual,Monday,January,2018,4
2,31321,31321,Casual,Monday,January,2018,4
3,31406,31103,Casual,Monday,January,2018,1
4,31618,31619,Member,Monday,January,2018,3

In [14]:
# Save As a CSV file To Google Drive
data_folder_path = "/content/drive/My Drive/MSCA31009MLPA_FinalProject/data/"

file_name = '/pre_pandemic_data2.csv'
with open(data_folder_path+file_name, 'w', encoding = 'utf-8-sig') as f:
  pre_pandemic_data.to_csv(f)
# file_name = '/post_pandemic_data2.csv'
# with open(data_folder_path+file_name, 'w', encoding = 'utf-8-sig') as f:
#   post_pandemic_data.to_csv(f)